.menu {
  ul {
    li {
      display: inline;
    }
  }
}

.has-sidebar {
  article.page,
  article.post {
    float: left;
    width: 70%;
  }  
}

.sidebar {
  &.in-page {
    width: 30%;
    float: left;
  }
}