.nav {
  &.slide-over {
    position: fixed;
    height: 100%;
    top: 0;
    left: -100%;
    width: 60%;
    background: $color-primary;
    a {
      color: $mobile-menu-links;
    }
    &.nav-shown {
      left: 0;
    }
  }
  ul {
    list-style-type: none;
  }
}

