.page,
.single {
  > section {
    @include clearfix();
    padding-top: $vertical;
    padding-bottom: $vertical;
  }
}

article.page,
article.post {
  padding-left: $horizontal;
  padding-right: $horizontal;
}

.sidebar {
  padding-left: $horizontal;
  padding-right: $horizontal; 
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}