// Colors

$color-primary:                   rgba(238, 86, 116, 1) !default;
$color-secondary:                 lighten($color-primary, 10%) !default;
$color-tertiary:                  darken($color-primary, 10%) !default;
$transparent:                     rgba(255, 255, 255, 0) !default;

$red:                             red !default;
$blue:                            blue !default;
$green:                           green !default;
$yellow:                          yellow !default;
$orange:                          orange !default;
$purple:                          purple !default;
$brown:                           brown !default;

$white:                           rgba(255, 255, 255, 1);
$black:                           rgba(0, 0, 0, 1);
$gray:                            lighten($black, 50%);

// UI Colors

$main-background:                 none;
$alt-background:                  none;

$on-dark:                         $white;

// Type

$font-family:                     "Helvetica Neue", helvetica, sans-serif;

$type-primary:                    $black;
$type-light:                      lighten($black, 20%);

$type-bold:                       bold;
$type-semibold:                   normal;
$type-italic:                     italic;
$type-light:                      normal;
$type-thin:                       normal;

$selection-background:            $blue;

  // Type Sizes
  $font-family-base:              'helvetica';
  $font-size-base:                100%;
  $font-family-base-weight:       normal;
  $line-height-base:              125%;

// Space

$horizontal:                      35px;
$horizontalx2:                    $horizontal x 2;
$vertical:                        35px;
$verticalx2:                      $vertical x 2;

// Layers

$z-base:                          1;
$z-2:                             502;
$z-3:                             503;
$z-4:                             504;
$z-5:                             505;

// UI Treatments & Effects

$border-width:                    1px;
$border-type:                     solid;

$border-color:                    lighten($black, 50%);

$border-radius:                   4px;

$mobile-menu-links:               $white;                    

$border-color:                    $gray;

$nav-button-background:           $black;

// Tables

$table-background:                $transparent;
$table-border:                    $black;